.header{
    margin:40px;
}
.header__title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.header__subtitle {
    margin-bottom: 30px;
}

.section__paragraph {
    margin: 0px 40px 190px 40px;
}

.link {
    display: flex ;
    justify-content: center;
    align-items:center;
}
