.header{
    margin:40px;
}

.header__title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.header__subtitle {
    margin-bottom: 30px;
}
.container {
    display: flex;
    flex-direction:  column;
    min-height: 50vh ;
    justify-content: space-between;
}

.section__paragraph {
    margin: 0px 40px 0px 40px;
}

.link {
    display: flex ;
    justify-content: center;
    align-items:center;
}

/*questions*/

.form__list {
    display: flex;
    flex-direction:  column;
    min-height: 70vh ;
    justify-content: space-between;
}

.form__container{
    margin: 0px 35px ;
}

.title__question {
 margin-bottom: 1em ;
}

.form__item{
    margin-bottom:1.6em;
}