@font-face {
    font-family: Noto-Serif;
    src: url(./asset/typography/NotoSerif-Regular.ttf);
} 
@font-face {
    font-family: Nunito;
    src: url(./asset/typography/Nunito-Regular.ttf);
}

h1 {
    font-family:Noto-Serif ;
    font-size: 50px;
    text-align: center;

}

h2 {
    font-family:Nunito ;
    font-size:25px ;
    margin-left: 30px;
}

p {
    font-family:Nunito ;
    margin-left: 30px;

}

a {
    font-family:Nunito ;
    display: flex ;
    justify-content: center;
    color: black;
}
